<aside>
  <h1><a routerLink="/">Back</a></h1>
  <nav>
    <feel-button link="dashboard" [center]="false" [highlightActiveLink]="true" label="Dashboard">
      <app-icon-dashboard/>
    </feel-button>
    <feel-button link="dns" [center]="false" [highlightActiveLink]="true" label="DNS">
      <app-icon-list class="icon"/>
    </feel-button>
    <feel-button link="settings" [center]="false" [highlightActiveLink]="true" label="Settings">
      <app-icon-gear class="icon"/>
    </feel-button>
  </nav>
</aside>
<main>
  <div [@routing]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"/>
  </div>
</main>
