@import "vars";

:host {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 100vh;

  aside, aside nav {
    display: flex;
    flex-direction: column;
  }

  aside nav {
    gap: calc(0.5 * $s-unit);
    min-width: 12rem;
  }

  main {
    height: 100%;
    overflow-y: scroll;

    div {
      padding: calc(2 * $s-unit);
    }
  }
}
