<h1>DNS</h1>

<div class="tab-view">
  <nav>
    <div class="tabs">
      <feel-button link="a" [highlightActiveLink]="true" label="A"/>
      <feel-button link="aaaa" [highlightActiveLink]="true" label="AAAA"/>
      <feel-button link="cname" [highlightActiveLink]="true" label="CNAME"/>
      <feel-button link="mx" [highlightActiveLink]="true" label="MX"/>
      <feel-button link="txt" [highlightActiveLink]="true" label="TXT"/>
    </div>
    <feel-button class="add" label="Add">
      <app-icon-add/>
    </feel-button>
  </nav>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
