@import "vars";

:host {
  display: block;
  width: 100%;

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    thead tr th {
      text-align: left;
    }

    th, td {
      padding: calc(0.5 * $s-unit);
    }

    tbody tr td {
      border-top: calc(0.1 * $s-unit) solid $c-card-secondary;

      &:last-child {
        width: 0.1%;
      }
    }

    form {
      padding: calc(0.5 * $s-unit);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr auto;
      width: 100%;

      &, .actions {
        gap: $s-unit;
      }

      .actions {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
