<h1>DNS</h1>

<div class="tab-view">
  <nav>
    <feel-button [highlightActiveLink]="true" label="A" link="a"/>
    <feel-button [highlightActiveLink]="true" label="AAAA" link="aaaa"/>
    <feel-button [highlightActiveLink]="true" label="CNAME" link="cname"/>
    <feel-button [highlightActiveLink]="true" label="MX" link="mx"/>
    <feel-button [highlightActiveLink]="true" label="TXT" link="txt"/>
  </nav>
  <div [@routing]="outlet.isActivated ? outlet.activatedRoute : ''" class="body">
    <router-outlet #outlet="outlet"/>
  </div>

</div>
