@import "theme";

@include theme(
  $c-secondary: #493804,
  $c-secondary-l: #2c2102,
  $c-secondary-ll: #543a00,
  $c-secondary-d: #151300,
  $c-primary: lighten(#FFC300, 10%),
  $c-primary-l: #FFC300,
  $c-primary-d: #ffb822,
  $c-gray: #808080,
);

@import "vars";

body {
  color: $f-color;
}

.card {
  background-color: $c-card;
  border: calc(0.1 * $s-unit) solid $c-card-secondary;
  padding: $s-padding;
  border-radius: calc(0.4 * $s-unit);
}

aside {
  background-color: $c-card;
  border-right: calc(0.1 * $s-unit) solid $c-card-secondary;
  padding: $s-padding;

  display: flex;
  gap: calc(1 * $s-unit);
}
