<table *ngIf="records | async as records; else loading">
  <thead>
  <tr>
    <th>Name</th>
    <th>Preference</th>
    <th>Exchange</th>
    <th>TLL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records">
    <td *ngIf="(edit | async) === record.record.id; else row" colspan="5">
      <form [formGroup]="editForm">
        <feel-text-field formControlName="name" label="Name"/>
        <feel-text-field formControlName="preference" label="Preference" type="number"/>
        <feel-text-field formControlName="exchange" label="Exchange"/>
        <feel-text-field formControlName="ttl" label="TTL" type="number"/>
        <div class="actions">
          <feel-button (click)="save()" [disabled]="!editForm.valid" flavor="good">
            <app-icon-save/>
          </feel-button>
          <feel-button (click)="delete()" flavor="danger">
            <app-icon-trash/>
          </feel-button>
          <feel-button (click)="edit.next(null)">
            <app-icon-close/>
          </feel-button>
        </div>
      </form>
    </td>

    <ng-template #row>
      <td>{{record.record.name}}</td>
      <td>{{record.value.preference}}</td>
      <td>{{record.value.exchange}}</td>
      <td>{{record.record.ttl}}</td>
      <td>
        <feel-button (click)="edit.next(record.record.id)">
          <app-icon-pen/>
        </feel-button>
      </td>
    </ng-template>
  </tr>
  <tr>
    <td colspan="5">
      <form [formGroup]="addForm">
        <feel-text-field formControlName="name" label="Name"/>
        <feel-text-field formControlName="preference" label="Preference" type="number"/>
        <feel-text-field formControlName="exchange" label="Exchange"/>
        <feel-text-field formControlName="ttl" label="TTL" type="number"/>
        <div class="actions">
          <feel-button (click)="add()" [disabled]="!addForm.valid" flavor="good">
            <app-icon-add/>
          </feel-button>
        </div>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #loading>
  Loading...
</ng-template>
